Berapa biaya tertinggi dan terendah?

In [1]:
import pandas as pd

In [2]:
data = {
    "hari": ["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"],
    "hari_datang": [2, 3, 4, 1, 2, 5, 2],
    "biaya": [2 * 30000, 3 * 35000, 4 * 25000, 1 * 15000, 2 * 20000, 5 * 30000, 2 * 35000],
    "mahasiswa": ["Ani", "Budi", "Jono", "Lono", "Jono", "Ani", "Budi"],
}

# Buat DataFrame
df = pd.DataFrame(data)

In [3]:
print("Biaya tertinggi:", df["biaya"].max())
print("Biaya terendah:", df["biaya"].min())

Biaya tertinggi: 150000
Biaya terendah: 15000